$orange: hsl(25, 97%, 53%);

$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

$mediumBlue: hsla(210, 19%, 18%, 1);
$bgcBlue: hsla(215, 24%, 14%, 1);

@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin circle {
	width: 2.62em;
	height: 2.62em;
	background-color: $mediumBlue;
	border-radius: 50%;
}
